[Unit]
Description=Montauk chair interface
After=getty.target
Conflicts=getty@tty1.service

[Service]
ExecStart=/opt/montauk-chair-interface/bin/montauk-chair-interface
TTYPath=/dev/tty1
StandardInput=tty-force
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
