[Unit]
Description=Montauk chair interface
After=multi-user.target

[Service]
ExecStart=/opt/montauk-chair-interface/bin/montauk-chair-interface

[Install]
WantedBy=multi-user.target
