[Unit]
Description=Montauk chair interface
After=multi-user.target

[Service]
ExecStart=/root/montauk-chair-interface/montauk-chair-interface

[Install]
WantedBy=multi-user.target
